@use "../../style/base" as b;

.wishlist-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 16px;
  border-bottom: 1px solid b.$jkGrey;

  @include b.for-size(medium) {
    flex-direction: row;
    padding-bottom: 12px;
  }

  .product-link {
    width: 100%;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__text {
    margin-left: 12px;
    font-weight: 600;
    font-size: 16px;
    color: black;
  }

  &__title {
    margin-bottom: 0.3rem;
  }

  &__price {
    color: b.$jkGrey;
  }

  &__buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}
