.header {
  border: 1px solid blue;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  height: 40px;
  background-color: cornflowerblue;
}
