@use "../../style/base" as b;

button {
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  margin: 8px 4px;
  color: rgb(255, 255, 255);
  border-radius: 0%;
}

.button-primary {
  background-color: b.$jkGolden;
  border: 1px solid b.$jkGolden;
  &:hover {
    background-color: b.$jkGolden-hover;
  }
}

.button-secondary {
  color: rgb(0, 0, 0);
  background-color: b.$jkWhite;
  border: 1px solid black;
  &:hover {
    background-color: b.$jkWhite-hover;
  }
}

.button-tertiary {
  background-color: b.$jkGrey;
  border: 1px solid b.$jkGrey;
  &:hover {
    background-color: b.$jkGrey-hover;
  }
}
