@use "../../style/base" as b;

.products-page {
  width: 100%;
  //max-width: 1920px;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 464px));
    gap: 12px;
    justify-content: center;
  }
}
