@use "../../style/base" as b;

.request-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  gap: 18px;

  .product {
    font-weight: 600;
    border-top: 1px solid b.$jkGrey;
    border-bottom: 1px solid b.$jkGrey;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px 8px 12px;

    .wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__image {
      object-fit: cover;
    }

    &__name {
      margin-left: 6px;
    }

    &__price {
      color: b.$jkGrey;
      justify-self: end;
    }
  }

  .selections {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-weight: 400;

    .radio-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      &__input {
        margin-right: 6px;
      }
    }

    .text-inputs {
      display: flex;
      flex-direction: column;
      gap: 14px;

      label {
        display: flex;
        flex-direction: column;
        gap: 4px;

        input {
          border: 1px solid b.$jkGrey;
          font-size: 12px;
          padding: 3px;
          min-width: 200px;
        }
      }
    }
  }
}
